/* Must be loaded before everything else */
@import "normalize";
@import "flag-icons";

/* Main stuff */
@import "variables";
@import "mixins";
@import "fonts";
@import "buttons";

/* Syntax highlighting */
@media (prefers-color-scheme: dark) {
  @import "prism-one-dark";
}

@media (prefers-color-scheme: light) {
  @import "prism-one-light";
}

[data-theme="dark"] {
  @import "prism-one-dark";
}

[data-theme="light"] {
  @import "prism-one-light";
}

/* Modules */
@import "header";
@import "logo";
@import "menu";
@import "main";
@import "list";
@import "single";
@import "footer";
@import "sharing-buttons";
@import "tables";
@import "404";