<div class="logo">
    {{ if .Site.Params.Logo.path }}
        <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
    {{ else }}
<span class="logo__text">
    {{- $path := replace .Permalink .Site.BaseURL "" -}}
    {{- $path := strings.TrimSuffix "/" $path -}}
    <a class="logo__terminal-user" href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}">{{ .Site.Params.Logo.logoText }}</a><span>:</span><span class="logo__terminal-path-box"><span class="logo__terminal-path"><span>~</span>
        {{- range $index, $element := split $path "/" -}}
            {{- $.Scratch.Add "path" $element -}}
            {{- if ne $element "" -}}
                <span>/</span><a class="logo__terminal-path-folder" href='{{ $.Scratch.Get "path" | absURL }}'>{{- . -}}</a>
                {{- $.Scratch.Add "path" "/" -}}
            {{- end -}}
        {{- end -}}
    </span></span><label for="writer" class="logo__terminal-dollar">$</label></span>
    <span class="logo__cursor" id="cursor"></span><input type="text" autofocus spellcheck="False" class="logo__terminal-input" id="writer">
    {{ end }}
</div>
